[Desktop Entry]
Name=Oryxis
Comment=Modern SSH client built in Rust
Exec=oryxis %u
Icon=app.oryxis.Oryxis
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
Keywords=ssh;terminal;remote;
MimeType=x-scheme-handler/oryxis;
StartupWMClass=oryxis
